header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

header .container-name {
    width: 30%;
}

header .container-name h3 {
    margin-left: 10%;
}

header .container-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    transition: all 0.4s;
}

header .container-links a {
    margin-left: 12%;
    font-size: 1.1rem;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.bar.active:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.active:nth-child(2) {
    opacity: 0;
}

.bar.active:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}



/*Responsivity*/
@media (max-width:1000px) {
    header .container-name h3 {
        font-size: 1rem;
    }

    header .container-links a {
        margin-left: 8%;
        font-size: 1rem;
    }
}

@media (max-width:730px) {
    header .container-name h3 {
        font-size: 0.9rem;
    }

    header .container-links a{
        font-size: 0.9rem;
    }
}

@media (max-width: 640px) {
    header {
        justify-content: flex-start;
        margin-top: 25px;
    }

    .hamburger-menu {
        display: flex;
        position: absolute;
        right: 20px;
        top: 13%;
        transform: translateY(-50%);
        z-index: 10;
    }

    header .container-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        width: auto;
        flex-direction: column;
        align-items: flex-end;
        z-index: 10;
        margin-top: 20px;
    }

    header .container-links.show {
        display: flex;
        width: 30%;
    }

    header .container-links a {
        margin-right: 30px;
        margin-top: 30px;
    }

    header .container-name {
        width: 30%;
    }
}

@media (max-width:520px) {
    header .container-links {
        margin-top: 0;
    }

    header .container-links.show a {
        font-size: 0.8rem;
    }
}

@media (max-width:400px) {
    header .container-links a {
        margin-right: 15px;
    }

    .hamburger-menu {
        top: 25%;
        z-index: 10;
    }
}
