header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

header .container-name{
    width: 20%;
}

header nav{
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 10%;
}

a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.icons a i{
    color: blue;
}