/*Estilos CSS globais que são aplicados no projeto inteiro*/

*{
    background-color: rgb(80, 78, 78);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    color: blue;
    transform: scale(1.07);
    transition: transform 0.2s ease-out;
}


hr{
    opacity: 70%;
}