.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.container-images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 75px;
    margin-top: 65px;
}

.container-images img {
    width: 115px;
    height: 85px;
}



/*Responsivity*/
@media (max-width:1000px) {
    .container-skills h2{
        font-size: 1rem;
    }
}

@media (max-width:780px) {
    .container-images{
        gap: 45px;
    }

    .container-images img {
        width: 100px;
        height: 75px;
    }
}

@media (max-width:620px) {
    .container-skills h2 {
        font-size: 0.9rem;
    }

    .container-images {
        grid-template-columns: repeat(3,1fr);
    }

    .container-images img {
        width: 85px;
        height: 60px;
    }
}